.cta_footer {
  position: relative;
  display: block;
  z-index: 2;

  @extend %template-section-padding;
}

.cta-footer-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cta-footer-title {
  flex: 0 0 100%;
  text-align: center;

  @media screen and (min-width: $mq-medium) {
    flex: 1 1 auto;
    text-align: left;
  }
}

.cta-footer-icon {
  flex: 0 0 100%;
  height: 50px;
  margin: $base-spacing*2 0;

  background-image: url(../img/icon-hand-bottom.svg);
  background-position: center;
  background-repeat: no-repeat;
  animation: bounce-small 1.3s infinite;

  @media screen and (min-width: $mq-medium) {
    flex: 0 0 100px;
    margin: 0;
    background-image: url(../img/icon-hand-right.svg);
    animation: bounce-large 1.3s infinite;
  }
}

.cta-footer-button {
  flex: 0 0 100%;
  max-width: 350px;
  margin: auto;

  @media screen and (min-width: $mq-medium) {
    flex: 0 0 30%;
  }
}

@keyframes bounce-large {
  0% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(-6px);
  }
}

@keyframes bounce-small {
  0% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px);
  }
}
