$primary-1: #35AE77;
$primary-1-l: #D7EFE4;
$primary-1-d: #26895C;

$neutral-1: #173753;
$neutral-1-l: #EDF1F5;
$neutral-1-d: #122A3E;

$accent-1: #1098F7;
$accent-1-l: #CFEAFD;
$accent-1-d: #1E88D2;

$accent-3: #FFAC14;
$accent-3-l: #FFF8EC;
$accent-3-d: #F08A4B;

$accent-5: #DE235B;
$accent-5-l: #F8E4EA;
$accent-5-d: #B3073A;

$radient-primary-1-2 : linear-gradient(0deg, #3994F2 -50%, $primary-1 60%, $primary-1 100%);
