$base-spacing : 8px;

//media queries
$mq-xsmall: 480px;
$mq-small: 600px;
$mq-medium: 840px;
$mq-large: 1280px;

$mq-tablet: 720px;

//fonts
$font-primary: 'Circular Std', sans-serif;
$font-current: 'Work Sans', Arial, sans-serif;
